/* 吹き出しと矢印の位置（1000x750基準） */
#bubble-biological {
    top: 12%;
    left: 2%;
}

#bubble-sludge-treatment1 {
    top: -3%;
    left: 42%;
}

#bubble-inflow {
    top: 12%;
    left: 97%;
}

#bubble-sludge-treatment2 {
    top: 85%;
    left: 95%;
}

#arrow-1 {
    top: 7%;
    left: 2%;
}

#arrow-2 {
    top: 3%;
    left: 42%;
}

#arrow-3 {
    top: 7%;
    left: 97%;
}
