/* 吹き出しと矢印の位置（1000x750基準） */
#bubble-1 {
    top: 12%;
    left: 3%;
}

#bubble-2 {
    top: 0%;
    left: 45%;
}

#bubble-3 {
    top: 12%;
    left: 97%;
}

#bubble-4 {
    top: 75%;
    left: 102%;
}

#bubble-5 {
    top: 85%;
    left: 68%;
}


#arrow-1 {
    top: 7%;
    left: 3%;
}

#arrow-2 {
    top: 5%;
    left: 45%;
}

#arrow-3 {
    top: 7%;
    left: 97%;
}

#suisuiContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#suisui-area{
    position: absolute;
    top: 20%;
    left: 5%;
    width: 58%;
    height: 34%;
}
#suisui-ref{
    width: 120px;
    height: 120px;
}